<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seleccionar Rol</title>
  <link rel="stylesheet" href="../style.css">

</head>
<body>
  <h1>Seleccione su Rol</h1>
  <button onclick="window.location.href='/client/index.html'">Cliente</button>
  <button onclick="window.location.href='/admin/index.html'">Admin</button>
  <button onclick="window.location.href='/superadmin/index.html'">SuperAdmin</button>
</body>
</html>
