<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Iniciar Sesión / Registrarse</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div>
    <h2>Iniciar Sesión / Registrarse como Admin</h2>
    <button onclick="window.location.href='/admin/login.html'">Iniciar Sesión</button>
    <button onclick="window.location.href='/admin/signup.html'">Registrarse</button>
  </div>
</body>
</html>
